.about-sec {
	height: 100%;
}

.img-fluid.icon {
    max-width: 9%;
    height: auto;
    margin-bottom: 4%;
    margin-top: 4%;
}

.scroll {
	border: 1px solid #F4F2F2;
	padding: 5px 10px;
	height: 600px;
	width: 50%;
	margin: 0 auto;
	overflow-y: scroll;
	background: #F7F6F6;
}
.scroll .jscroll-loading{
	 width:20%;
	 margin: -100px auto;
}

.navbar.top-bar{
    height: 15%;
}

.about p {
    margin-top: 0;
    margin-bottom: -5%;
    padding-top: 7%;
}

.about img{
    margin-top: 4%

}

.container.log{
	background: #0C242E;
	color: red;
}
.row.main {
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
    margin-top: 15%;
}

.log{

	background:black;

}
.service-sec .service-block {
    margin-top: 30px;
    text-align: center;
    color:black;
    background-color: rgba(252,255,249,0.6)	;
}

.btn-transparent-white.courses {
    border: solid #0297ff;
    color: black;