extends layout

block content
    section#about.about-sec.parallax-section
      .container
        .row
          .col-md-4.about
            h2
              small Who We Are
              | About
              br
              |           Us

          .col-md-8.about
            p.about
              | Nuestra Fundación inició sus primeras acciones como institución en el barrio de la Merced, en la Parroquia de la Soledad, en el año de 1998,  a cargo de nuestros Fundadores:  el  Padre Ignacio Montes Biosca y Filemón Balderas Fernández , acompañados de un equipo de colaboradores , trabajando con poblaciones callejeras y en alta vulnerabilidad, desde hace 5 años hemos puesto en marcha nuestro programa de EDUCACION RESPALDADA.
            p
              | A  través de nuestra experiencia en el tema de prevención, hemos descubierto que uno de los factores que impactan la desintegración de la sociedad es la falta de educación en todos sus niveles, sin embargo los adolescentes y jóvenes  en situación de vulnerabilidad, se encuentran en un riesgo mayor.
          
              a.btn.btn-transparent-white.btn-capsul(href='History') Explore More
              img.img-fluid.about(src='img/17.jpg')


