extends layout
block content
    section.log
    .container
        .main-login.main-center
          h5 Agenda tu cita
          form(action='/Quote', method='POST', name='quotes_Form', id="quotes_Form")
            .form-group
              label.cols-sm-2.control-label(for='name') Tu nombre
              .cols-sm-10
                .input-group
                  span.input-group-addon
                    i.fa.fa-user.fa(aria='true')
                  input#name.form-control(type='text', name='name', placeholder='Ingresa tu Nombre')
            .form-group
              label.cols-sm-2.control-label(for='email') Tu Correo Electronico
              .cols-sm-10
                .input-group
                  span.input-group-addon
                    i.fa.fa-envelope.fa(aria-hidden='true')
                  input#email.form-control(type='email', name='email', placeholder='Ingresa tu Correo Electronico')
            .form-group
              label.cols-sm-2.control-label(for='number') Tu Numero telefonico
              .cols-sm-10
                .input-group
                  span.input-group-addon
                    i.fa.fa-phone.fa(aria-hidden='true')
                  input.form-control(type='tel', name='number', placeholder='Ingresa tu Numero telefonico')
            .form-group
              label.cols-sm-2.control-label(for='comments') Agrega cualquier comentario
              .cols-sm-10
                .input-group
                  span.input-group-addon
                    i.fa.fa-commenting.fa(aria-hidden='true')
                  input.form-control(type='text', name='comments', placeholder='Ingresa tus comentarios')
          table.modal-types
            tbody
              tr
                td
                  .swal2-icon.swal2-success.hidden
                    span.line.tip.animate-success-tip
                    span.line.long.animate-success-long
                    .placeholder
                td
                  button.type-success(type="submit" formmethod="post") Agenda tu cita!