extends layout
block content
  section#contact.contact-sec(style="padding-bottom: 123px")
    .container.contact
      h2
        | Cuéntanos
        small que te parece nuestro trabajo
      .row
        .col-md-4
         form( method='POST', action='/sendMail')
          .form-group
            label(for='exampleName' ) Nombre
            input#exampleName.form-control(name='name',type='text', aria-describedby='emailHelp')
        .col-md-4
          .form-group
            label(for='examplePhone' ) Numero de Telefono
            input#examplePhone.form-control(name='number',type='text', aria-describedby='emailHelp')
        .col-md-4
          .form-group
            label(for='exampleInputEmail1') Correo Electronico
            input#exampleInputEmail1.form-control( name='email',type='email', aria-describedby='emailHelp')
            small#emailHelp.form-text.text-muted 
        .col-md-12
          label(for='exampleTextarea' ) Manda tus sugerencias
          textarea#exampleTextarea.form-control(rows='3',name='comments')
        .col-md-12.text-xs-center.action-block
          button.btn.btn-capsul.btn-aqua(,type='submit' formmethod="post") Enviar
