extends layout
block content
  //- section#contact.contact-sec
  //-   .container
  //-     h2
  //-       | Get in Touch 
  //-       small Our work is the presentation of our capabilities.
  //-     .row
  //-       .col-md-4
  //-         .form-group
  //-           label(for='exampleName') Name
  //-           input#exampleName.form-control(type='text', aria-describedby='emailHelp')
  //-       .col-md-4
  //-         .form-group
  //-           label(for='examplePhone') Phone Number
  //-           input#examplePhone.form-control(type='text', aria-describedby='emailHelp')
  //-       .col-md-4
  //-         .form-group
  //-           label(for='exampleInputEmail1') Email address
  //-           input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp')
  //-           small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
  //-       .col-md-12
  //-         label(for='exampleTextarea') Enter your Message
  //-         textarea#exampleTextarea.form-control(rows='3')
  //-       .col-md-12.text-xs-center.action-block
  //-         a.btn.btn-capsul.btn-aqua(href='#') Submit
  //- footer
  //-   .container
  //-     .row
  //-       .col-md-2.col-sm-4
  //-         ul
  //-           li
  //-             a(href='#') Home
  //-           li
  //-             a(href='#') Benefits
  //-           li
  //-             a(href='#') About
  //-       .col-md-2.col-sm-4
  //-         ul
  //-           li
  //-             a(href='#') Blog
  //-           li
  //-             a(href='#') Image Gallery
  //-           li
  //-             a(href='#') Contact
  //-       .col-md-2.col-sm-4
  //-         ul
  //-           li
  //-             a(href='#') Privacy Policy
  //-           li
  //-             a(href='#') Term and Services
  //-           li
  //-             a(href='#') About Grafreez
  //-       .col-md-6.col-sm-12
  //-         h2 About our Blog
  //-         p
  //-           | To enjoy good health, to bring true happiness to one's family, to bring peace to all, one must first discipline and control one's own mind. If a man can control his mind he can find the way to Enlightenment.
  //-     .row.copy-footer
  //-       .col-sm-6.col-md-3
  //-         | ©
  //-         script(type='text/javascript').
  //-           document.write(new Date().getFullYear());
  //-         |  Grafreez.com
  //-       .col-sm-6.col-md-3.pull-right.text-xs-right
  //-         | Created with 
  //-         i.fa.fa-heart
