extends layout

block content
  section#benefits.service-sec
    .container
      .row
        .col-md-12
          .heading.text-md-center.text-xs-center
            h2
              small Nuestros Cursos
              | Cursos impartidos en la casita
        .col-md-8
          .row
            .col-md-6.text-sm-center.service-block
              i.fa.fa-plus(aria-hidden='true')
              h3 Terapia
              p
                | c sdjkfndsafñkajsdmfsaklfmdkfas
                a.btn.btn-transparent-white.btn-capsul.courses(href='appointments') Agenda tu cita aqui
            .col-md-6.text-sm-center.service-block
              i.fa.fa-leaf(aria-hidden='true')
              h3 Becas
              p
                | kdmsdakmdslksadmas´ñlsd,vamfsd´flamsdflkdsfmsadklfdsmfkdsfmas
                a.btn.btn-transparent-white.btn-capsul.courses(href='History') Explore More
            .col-md-6.text-sm-center.service-block
              i.fa.fa-leaf(aria-hidden='true')
              h3 Alojamiento y Comedor 
              p
                | csdmcksaldcmsadkclñds,clsakdcm
            .col-md-6.text-sm-center.service-block
              i.fa.fa-bell(aria-hidden='true')
              h3 Apoyo
              p
                | sdmfzsdkjmfzdskflmfzks
        .col-md-4
          img.img-fluid(src='img/15.jpg')