extends layout

block content
  section#benefits.service-sec
    .container
      .row
        .col-md-12
          .heading.text-md-center.text-xs-center
            h2
              small 
              | Servicios impartidos en la casita
        .col-md-8
          .row
            .col-md-6.text-sm-center.service-block
              i.fa.fa-plus(aria-hidden='true')
              h3 Terapia
              p
                | Psicologo, 
                a.btn.btn-transparent-white.btn-capsul.courses(href='appointments') Agenda tu cita aqui
            .col-md-6.text-sm-center.service-block
              i.fa.fa-file-text-o(aria-hidden='true')
              h3 Becas
              p
                | Apoyo para seguir tu educacion mediante las becas
            .col-md-6.text-sm-center.service-block
              i.fa.fa-home(aria-hidden='true')
              h3 Alojamiento y Comedor 
              p
                | Apoyo de comedor dentro de las instalaciones de la casita
            .col-md-6.text-sm-center.service-block
              i.fa.fa-handshake-o(aria-hidden='true')
              h3 Apoyo
              p
                | Apoyo a personas en situacion de pobreza,violencia familiar, etc
        .col-md-4.hidden-desktop
         .container
          .row
            img.img-fluid(src='img/child2.jpg')