extends layout

block content
  section#benefits.service-sec
    .container
      .row
        .col-md-12
          .heading.text-md-center.text-xs-center
            h2
              small Benefits of Exercise
              | To enjoy the glow of good health, you must exercise
        .col-md-8
          .row
            .col-md-6.text-sm-center.service-block
              i.fa.fa-plus(aria-hidden='true')
              h3 Better Sleep
              p
                | Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe.
            .col-md-6.text-sm-center.service-block
              i.fa.fa-leaf(aria-hidden='true')
              h3 Reduces Weight
              p
                | Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe.
            .col-md-6.text-sm-center.service-block
              i.fa.fa-leaf(aria-hidden='true')
              h3 Improves Mood
              p
                | Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe.
            .col-md-6.text-sm-center.service-block
              i.fa.fa-bell(aria-hidden='true')
              h3 Boosts Energy
              p
                | Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe.
        .col-md-4
          img.img-fluid(src='img/side-01.jpg')