extends layout
block content
    section.log
    .container
      .row.main
        .main-login.main-center
          h5 Agenda tu cita
          form(action='/Quotes', method='POST', name='quotes_Form')
            .form-group
              label.cols-sm-2.control-label(for='name') Tu nombre
              .cols-sm-10
                .input-group
                  span.input-group-addon
                    i.fa.fa-user.fa(aria='true')
                  input#name.form-control(type='text', name='name', placeholder='Ingresa tu Nombre')
            .form-group
              label.cols-sm-2.control-label(for='email') Tu Correo Electronico
              .cols-sm-10
                .input-group
                  span.input-group-addon
                    i.fa.fa-envelope.fa(aria-hidden='true')
                  input#email.form-control(type='email', name='email', placeholder='Ingresa tu Correo Electronico')
            .form-group
              label.cols-sm-2.control-label(for='number') Tu Numero telefonico
              .cols-sm-10
                .input-group
                  span.input-group-addon
                    i.fa.fa-phone.fa(aria-hidden='true')
                  input.form-control(type='tel', name='number', placeholder='Ingresa tu Numero telefonico')
            .form-group
              label.cols-sm-2.control-label(for='comments') Agrega cualquier comentario
              .cols-sm-10
                .input-group
                  span.input-group-addon
                    i.fa.fa-commenting.fa(aria-hidden='true')
                  input.form-control(type='text', name='comments', placeholder='Ingresa tus comentarios')
                button.btn-danger.btn-lg.btn-primary.btn-block.btn-add Registrar cita 
            //- .form-group
            //-   label.cols-sm-2.control-label(for='date') Contraseña
            //-   .cols-sm-10
            //-     .input-group
            //-       span.input-group-addon
            //-         i.fa.fa-lock.fa-lg(aria-hidden='true')
            //-       input#password.form-control(type='number', name='password', placeholder='Ingresa tu Contraseña')
